/.bundle
/vendor/bundle
/vendor/bundler/
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
/uploads/tmp/
/config/settings.local.yml
/config/settings/*.local.yml
/config/environments/*.local.yml
/config/database.yml

.env
.envrc
.pryrc
.DS_Store

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml