<!DOCTYPE html>
<html>
<head>
  <title>Ta</title>
  <%= stylesheet_link_tag    "ta/application", media: "all" %>
  <%= javascript_include_tag "ta/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
